figure {
  border: none;
  padding: 4px;
  margin: auto;
}

figcaption {
  color: white;
  font-style: italic;
  padding: 2px;
  text-align: center;
}

iframe {
  height: 100%;
  width: 100%;
  resize: both;
  overflow: auto;
  border: none
}

.header_line {
  border-top: 2px solid #cccccc;
}

.double_image {
    display: flex;
    align-items;
    flex-end;
}

.left_image {
    float: left;
    width: 50%;
    text-align: center
}

.right_image {
    float: right;
    width: 50%;
    text-align: center
}